<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="auth-page login-background">
        <div class="main">
            <div style="position: relative;">
                <label class="tab-label active">Login <input type="radio" name="authTab" id="loginTab" class="tab-input" value="loginTab" onclick="swapTab(this)"></label>
                <label class="tab-label" style="left:70px">Register <input type="radio" name="authTab" id="registerTab" class="tab-input" value="registerTab" onclick="swapTab(this)"></label>
                <!-- <label class="tab-label" style="left:158px">Forgot Password <input type="radio" name="authTab" id="forgotTab" class="tab-input" value="forgotTab" onclick="swapTab(this)"></label> -->
            </div>
            <div id="login" class="form-container">
                <h2>Login</h2>
                <div class="form-element">
                    <label>Email:</label>
                    <input type="text" id="email">
                </div>
                <div class="form-element">
                    <label>Password:</label>
                    <input type="password" id="password">
                </div>
                <div class="form-element">
                    <p id="errorMsg"></p>
                </div>
                <div class="form-btn-container">
                    <button onclick="doLogin()">Login</button>
                </div>
            </div>
            <div id="register" class="form-container">
                <h2>Register</h2>
                <div class="form-element">
                    <label>Email:</label>
                    <input type="text" id="r-email">
                </div>
                <div class="form-element">
                    <label>Password:</label>
                    <input type="password" id="r-password">
                </div>
                <div class="form-element">
                    <label>Confirm Password:</label>
                    <input type="password" id="r-cpassword">
                </div>
                <div class="form-element">
                    <p id="r-errorMsg"></p>
                </div>
                <div class="form-btn-container">
                    <button onclick="doRegister()">Register</button>
                </div>
            </div>
            <div id="forgotPassword" class="form-container">
                <h2>Forgot Password</h2>
                <div class="form-element">
                    <label>Email:</label>
                    <input type="text" id="f-email">
                </div>
                <div class="form-element">
                    <p id="f-errorMsg"></p>
                </div>
                <div class="form-btn-container">
                    <button onclick="doForgotPassword()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var defaultFetchParam = {
    method: 'POST',
    mode: 'cors',
    cache: 'no-cache',
    headers: {
        "Content-Type": "application/json",
    },
};

// var host = "https://jeff-finance-app.herokuapp.com/auth/";
var host = "http://localhost:8000/auth/"

const login = document.getElementById("login");
const register = document.getElementById("register");
const forgotPassword = document.getElementById("forgotPassword");
const email = document.getElementById("email");
const rEmail = document.getElementById("r-email");
const fEmail = document.getElementById("f-email");
const password = document.getElementById("password");
const rPassword = document.getElementById("r-password");
const rConfirmPassword = document.getElementById("r-cpassword");
const rErrorMessage = document.getElementById("r-errorMsg");
const fErrorMessage = document.getElementById("f-errorMsg");
const errorMessage = document.getElementById("errorMsg");


login.classList.add("active");

document.addEventListener("keypress",(e =>{
    if(e.keyCode === 13){
        if(login.classList.contains("active")){
            doLogin();

        }else if(register.classList.contains("active")){
            doRegister();
        }
    }
}))


async function doRegister(){
    const isEmail  = emailIsValid(rEmail.value);

    if (!isEmail){
       rErrorMessage.innerHTML = "Please enter a valid Email";
       return
    }

    if(rConfirmPassword.value.length < 5){
        rErrorMessage.innerHTML = "Please enter at least 5 characters for password";
        return
    }

    if (rPassword.value !== rConfirmPassword.value){
        rErrorMessage.innerHTML = "Pleasemake sure the password is matched";
        return
    }

    let jsonBody = {}
    jsonBody.email = rEmail.value;
    jsonBody.password = rConfirmPassword.value
    defaultFetchParam.body = JSON.stringify(jsonBody)

    const response = await fetch(host+"register",defaultFetchParam)
    const result = await response.json();

    if (result.status === "00"){
        rErrorMessage.classList.add("success");
        rErrorMessage.innerHTML = "Registration successful";
        rEmail.value = "";
        rPassword.value = "";
        rConfirmPassword.value = "";
    }
    console.log("result",result);
}

async function doLogin(){
    const isEmail  = emailIsValid(email.value);

    if (!isEmail){
        errorMessage.innerHTML = "Please enter a valid Email";
       return
    }

    if(password.value.length < 5){
        errorMessage.innerHTML = "Please enter at least 5 characters for password";
        return
    }

    let jsonBody = {}
    jsonBody.email = email.value;
    jsonBody.password = password.value
    defaultFetchParam.body = JSON.stringify(jsonBody)

    const response = await fetch(host+"login",defaultFetchParam)
    const result = await response.json();

    setCookie("token",result,1);
    window.location.href = "/home"

    console.log("result",result);
}



function swapTab(e){
    login.classList.remove("active");
    register.classList.remove("active");
    forgotPassword.classList.remove("active");
    rErrorMessage.classList.remove("success");
    console.log("e",e.value)
    tabInputs = document.querySelectorAll(".tab-input");

    for (let input of tabInputs){
        input.parentElement.classList.remove("active");
    }

    e.parentElement.classList.add("active");

    if(e.value =="loginTab"){
        login.classList.add("active");

    }else if(e.value == "registerTab"){
        register.classList.add("active");

    }else if(e.value == "forgotTab"){
        forgotPassword.classList.add("active");
    }
}

function emailIsValid (email) {
  return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
}

function setCookie(cName, cValue, days) {
    //get current date
    var d = new Date();
    d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
    document.cookie = cName + "=" + cValue + ";" + "expires=" + d.toUTCString(); + "path/"
}

async function doForgotPassword(){
    const isEmail  = emailIsValid(fEmail.value);

    if (!isEmail){
        fErrorMessage.innerHTML = "Please enter a valid Email";
       return
    }

    let jsonBody = {}
    jsonBody.email = email.value;
    defaultFetchParam.body = JSON.stringify(jsonBody)

    const response = await fetch(host+"forgotPassword",defaultFetchParam)
    const result = await response.json();

    if (result.status == "00"){
        fErrorMessage.innerHTML = "Please check your email address for password reset";
    }

}


</script>

</html>